.header {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 87px;
    padding: 20px, 40px;
    border: 0px, 0px, 1px, 0px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1.1335145235061646px 4.293615818023682px 0px rgba(133, 94, 152, 0.03);

    box-shadow: 0px 2.866743326187134px 10.85887622833252px 0px rgba(133, 94, 152, 0.04);

    box-shadow: 0px 5.8478875160217285px 22.15108871459961px 0px rgba(133, 94, 152, 0.05);

    box-shadow: 0px 5.8478875160217285px 22.15108871459961px 0px rgba(133, 94, 152, 0.05);
}

.page {
    position: relative;
    align-items: center;
    gap: 64px;
  }

.footer {
    width: 100%;
    height: 528px;
    padding: 120px, 200px, 64px, 200px;
    border: 1px, 0px, 0px, 0px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    linear-gradient(0deg, #EBEBEB, #EBEBEB);


}
.support {
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;

}
.main_in_footer {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 120px 0 0;
    gap: 80px;
    max-width: 1040px;
    width: 100%;

}

.footer-child {
        background: #7953c3;
        height: 12px;
        margin-top: 64px;
        width: 100%;
        align-self: stretch;
        position: relative;
        background-color: #7953c3;
        height: 12px;
  }

.line_pic {
    width: 100%;
    border: 1px;;
    opacity: 0.2px;


}

.support_email {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: MuseoSansCyrl700;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: rgba(121, 83, 195, 1);


}

.email {

font-family: MuseoSansCyrl700;
font-size: 40px;
font-weight: 600;
line-height: 48px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(121, 83, 195, 1);


}

.services {
    width: 100%;
    height: 24px;
    padding: 0px, 40px, 0px, 0px;
    gap: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.service_place {
    width: 984px;
    height: 24px;
    padding: 0px, 40px, 0px, 0px;
    gap: 32px;

}

.social_network {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.tg_pic {
    text-decoration: none;
    position: relative;
    width: 24px;
    height: 24px;
  }

.tg_pic_icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%; 
    overflow: hidden;
    max-height: 100%;
}

.header_logo {
    display: flex;
    height: 47px;
    justify-content: flex-start;
    width: 96px;
    gap: 64px

}


.block1 {
    width: 366px;
    height: 766px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.block2 {
    display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 0 0;
  gap: 60px;
  text-align: center;
  color: #000;
}

.button-continue {
    width: 226px;
    height: 48px;
    padding: 12px, 64px, 12px, 64px;
    border-radius: 8px;
    gap: 8px;
    opacity: 0.2px;


    background: rgba(121, 83, 195, 1);
    font-family: MuseoSansCyrl500;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(255, 255, 255, 1);


}

.for_button-continue {
    width: 1,040px;
    height: 410px;
    height: 48px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.preview-page {
    width: 614px;
    justify-content: center;
    gap: 24px;
    text-align: left;
    font-size: 14px;
    color: #5d5b66;
  }

.preview-text-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1.1335145235061646px 4.293615818023682px 0px rgba(133, 94, 152, 0.03);

    box-shadow: 0px 2.866743326187134px 10.85887622833252px 0px rgba(133, 94, 152, 0.04);

    box-shadow: 0px 5.8478875160217285px 22.15108871459961px 0px rgba(133, 94, 152, 0.05);

    box-shadow: 0px 5.8478875160217285px 22.15108871459961px 0px rgba(133, 94, 152, 0.05);


}

.picture_contacts {
    width: 140px;
    height: 174px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: space-between

}

.profile_preview {
    border-radius: 32px;
    background-color: #fff;
    box-shadow: 0px 5.8478875160217285px 22.15px rgba(133, 94, 152, 0.05),
        0px 5.8478875160217285px 22.15px rgba(133, 94, 152, 0.05),
        0px 2.866743326187134px 10.86px rgba(133, 94, 152, 0.04),
        0px 1.1335145235061646px 4.29px rgba(133, 94, 152, 0.03);
    width: 614px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 28px;
    color: #000;



}
.for_pic {
    width: 140px;
    height: 140px;
    border-radius: 16px;
    border: 1px;
    border: 1px solid rgba(235, 235, 235, 1);
    background: transparent
}
.download_button_contact {
    width: 140px;
    height: 22px;
    padding: 6px, 12px, 6px, 12px;
    border-radius: 4px;
    gap: 8px;
    opacity: 0.2px;
    background: rgba(121, 83, 195, 1);
    font-family: MuseoSansCyrl300;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.01em;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);

}

.general_info {
    width: 406px;
    height: 218px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.mini_info1 {
    width: 406px;
    height: 85px;
    gap: 10px;
    display: flex;
    flex-direction: column;

}

.some_text {
    width: 121px;
    height: 17px;
    padding: 3px, 6px, 3px, 6px;
    border-radius: 4px;
    gap: 32px;
    background: rgba(238, 238, 241, 1);


}

.some_text_2 {
    width: 406px;
    height: 113px;
    padding: 12px, 20px, 12px, 12px;
    border-radius: 8px;
    gap: 8px;
    background: rgba(244, 244, 246, 1);


}




.two-list{
    display: flex;
    justify-content: space-around;
}

.p {
    width: 500px;
}

/* .form {
    display: block;
    width: 366px;
    height: 56px;
    padding: 16px, 12px, 16px, 12px;
    border-radius: 8px;
    gap: 8px;
    background: rgba(244, 244, 246, 1);
    color: black; */


input {

    display: block;
    width: 366px;
    height: 56px;
    padding: 16px, 12px, 16px, 12px;
    border-radius: 8px;
    gap: 8px;
    background: rgba(244, 244, 246, 1);
    color: black;
    display: flex;
    justify-content: center;
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;


  }



textarea {
    width: 366px;
    height: 128px;
    padding: 16px, 12px, 16px, 12px;
    border-radius: 8px;
    gap: 8px;



    font-family: MuseoSansCyrl700;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background: rgba(244, 244, 246, 1);
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.wrapper textarea {

}

.button_header {
    width: 173px;
    height: 40px;
    padding: 8px, 16px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid rgba(121, 83, 195, 1);
    border-radius: 8px;
    font-size: 16px;
    color: rgba(121, 83, 195, 1);
    font-family: MuseoSansCyrl300;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.radio_contain {
    display: flex;
    flex-direction: row; */
    justify-content: center;
    width: 192px;
    height: 24px;
    padding: 0px, 0px, 0px, 4px;
    gap: 16px;

}

.male_but {
    width: 81px;
    height: 24px;
    gap: 8px;
    display: ;
    justify-content: flex-start;
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;


}

.fem_but {
    width: 81px;
    height: 24px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}


.contail_gender_name {
    width: 366px;
    height: 88px;
    gap: 8px;
    flex-direction: column;
    justify-content: flex-start;

}
.main {
    margin-top: 64px;
    margin-left: 200px;
    margin-right: 200px;
}
.registration_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.button_header1 {
    width: 108px;
    height: 36px;
    padding: 8px, 16px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid rgba(121, 83, 195, 1);
    border-radius: 8px;
    font-size: 16px;
    color: rgba(121, 83, 195, 1);
    font-family: Museo Sans Cyrl;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    font-family: MuseoSansCyrl300;
    text-align: center;
    gap: 8px

}
.profil {
    font-family: MuseoSansCyrl500;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
}
.about_self {
    font-family: MuseoSansCyrl100;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(204, 204, 204, 1);

}


.registration_big {
    width: 366px;
    height: 766px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    justify-content: center;



}

.profile_author {
    width: 366px;
    height: 200px;
    gap: 40px;
    border-radius: 16px;
    border: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    /* gap: 20px; */
    border: 1px solid rgba(205, 189, 219, 1)


}
.font_author_prof {
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 1);
    
}

.download_button {
    width: 144px;
    height: 36px;
    padding: 8px, 40px;
    gap: 8px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(121, 83, 195, 1);
    border-radius: 8px;
    font-size: 16px;

    font-family: MuseoSansCyrl300;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.01em;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);



    text-align: center;
    gap: 8px;
    background: rgba(121, 83, 195, 1);
}

.to_download_picture {

    font-family: MuseoSansCyrl100;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    font-weight: bold;
    text-align: left;
    color: rgba(204, 204, 204, 1);

}
@font-face {
    font-family: MuseoSansCyrl300;
    src: url(/fonts/MuseoSansCyrl300.otf);
    font-style: normal;
}
@font-face {
    font-family: MuseoSansCyrl500;
    src: url(/fonts/MuseoSansCyrl500.otf);
    font-style: normal;
}
@font-face {
    font-family: MuseoSansCyrl100;
    src: url(/fonts/MuseoSansCyrl100.otf);
    font-style: normal;
}

@font-face {
    font-family: MuseoSansCyrl700;
    src: url(/fonts/MuseoSansCyrl700.otf);
    font-style: normal;
}

.name_surname {
    font-family: MuseoSansCyrl300;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(93, 91, 102, 1);
    font-weight: bold;


}



 
.button:hover::after {
    width: 100%;
    height: 100%;
    border-color: white;
}
.button_second {
    top: 100px;
}
.button_third{
    top: 150px;
}


.footer {
    margin-top: 100px;
    background-color: rgb(251, 247, 148);
}